<!-- Header -->

<header>

	<nav>

	<ul>
		<li>
			<a href="">About</a>
		</li>

		<li>
			<a href="#hof">Hall Of Fame</a>
		</li>

		<li>
			<a href="#404">Contact</a>
		</li>
	</ul>

	<a href="">Logo</a>

	<a href="">Visit my Github</a>

	</nav>
  
</header>


<!-- Main -->
<main id="hof">
      <h1>ABOUT ENZEUW</h1>

      <h2 id="TEST"></h2>

      <ul id="here">

      </ul>
</main>


<!-- Footer -->
<footer>
      <ul>
         <li>
            <p>
               Website by <span>Value 1</span>
            </p>
         </li>
         <li>
            <p>
               Presented by <span>Value 2</span>
            </p>
         </li>
      </ul>
   </footer>









