<!-- Header -->
<header>

   <nav></nav>

</header>


<!-- Main -->
<main id="index">

   <section>

      <article>

         <h2 id="repository-title"></h2>
         <p id="repository-description"></p>

         <ul id="repository-languages"></ul>

      </article>

   </section>

   <!-- Projects -->
   <section>

      <ul id="cube-grid"></ul>

   </section>

</main>


<!-- Footer -->
<footer>
   <ul>
      <li>
         <p>
            Website by <span>Value 1</span>
         </p>
      </li>
      <li>
         <p>
            Presented by <span>Value 2</span>
         </p>
      </li>
   </ul>
</footer>