<!-- Header -->
<header>

   <nav>
      <ul>
         <li><a href="#" id="name">Lol</a></li>
         <li><a href="#info">Info</a></li>
      </ul>



      <ul>
         <li><a href="#info">Contact</a></li>
      </ul>
   </nav>

</header>


<!-- Main -->
<main id="index">

   <section id="repository-details">

      <article>

         <h3 id="repository-id"></h3>
         <h2 id="repository-title"></h2>
         <p id="repository-description"></p>

         <ul id="repository-languages"></ul>

      </article>

   </section>

   <!-- Projects -->
   <section>

      <ul id="cube-grid"></ul>

   </section>

</main>


<!-- Footer -->
<footer>
   <ul>
      <li></li>
   </ul>
</footer>