<header>

   <nav>
      <ul>
      </ul>

      <ul>
         <!-- <li><a href="#info">Close</a></li> -->
      </ul>
   </nav>

</header>


<main id="info">

   <section>

         <h2>Danian Marengo</h2>

         <ul>
            <li>Github Portfolio</li>
            <li>2023 ©</li>
         </ul>

   </section>

   <aside>
      <section>

         <h3>Personal Details</h3>

         <dl>
            <dt>Bio</dt>
            <dd id="github-bio">Korte biografie, van Github.</dd>
         </dl>

      </section>

      <section>
         <h3>2023</h3>

         <dl>
            <dt>Name</dt>
            <dd id="full-name">Placeholder</dd>
          
            <dt>Email</dt>
            <dd id="email">Placeholder</dd>
          
            <dt>Website</dt>
            <dd id="website">Placeholder</dd>
         </dl>
      </section>

      <section>
         <h3>Github</h3>
         <dl>
            <dt>Username</dt>
            <dd id="github-username">Placeholder</dd>
          
            <dt>User</dt>
            <dd id="github-id">Placeholder</dd>
          
            <dt id="github-follower-amount">Followers</dt>
            <dd>Placeholder</dd>

            <dt id="github-following-amount">Following</dt>
            <dd>Placeholder</dd>

            <dt id="github-repository-amount">Repositories</dt>
            <dd>Placeholder</dd>

            <dt id="github-latest-update">Latest Update</dt>
            <dd>Placeholder</dd>
          </dl>
      </section>
   </aside>
   
</main>






