



   <header>

      <nav>
         <ul>
         </ul>
   
         <ul>
            <li><a href="">Go back</a></li>
         </ul>
      </nav>
   
   </header>
   
   
   <main id="info">
   
      <section>
   
            <h2>Danian <span>Marengo</span></h2>
   
      </section>
   
      <aside>
         <section>
   
            <h3>Personal Details</h3>
   
            <dl>
               <dt>Bio</dt>
               <dd id="github-bio"></dd>
            </dl>
   
         </section>
   
         <section>
            <h3>2023</h3>
   
            <dl>
               <dt>Name</dt>
               <dd id="full-name"></dd>
             
               <dt>Website</dt>
               <dd id="website"></dd>
            </dl>
         </section>
   
         <section>
            <h3>Github</h3>
            <dl>
               <dt>Username</dt>
               <dd id="github-username"></dd>
             
               <dt>User</dt>
               <dd id="github-id">r</dd>
             
               <dt>Followers</dt>
               <dd id="github-follower-amount"></dd>
   
               <dt>Following</dt>
               <dd id="github-following-amount"></dd>
   
               <dt>Repositories</dt>
               <dd id="github-repository-amount"></dd>
   
               <dt>Latest Update</dt>
               <dd id="github-latest-update"></dd>
             </dl>
         </section>
      </aside>
      
   </main>







