<header>

   <nav>
      <ul>
      </ul>

      <ul>
         <!-- <li><a href="#info">Close</a></li> -->
      </ul>
   </nav>

</header>


<main id="info">

   <section>

         <h2>Danian Marengo</h2>

         <ul>
            <li>Github</li>
            <li>2023 ©</li>
         </ul>

   </section>

   <aside>
      <section>

         <h3>Personal Details</h3>

         <dl>
            <dt>Bio</dt>
            <dd>Korte biografie, van Github.</dd>
          </dl>

      </section>

      <section>
         <h3>2023</h3>

         <dl>
            <dt>Name</dt>
            <dd></dd>
          
            <dt>Email</dt>
            <dd></dd>
          
            <dt>Website</dt>
            <dd></dd>
          </dl>
      </section>

      <section>
         <h3>Github</h3>
         <dl>
            <dt>Username</dt>
            <dd>Placeholder</dd>
          
            <dt>User</dt>
            <dd>Placeholder</dd>
          
            <dt>Followers</dt>
            <dd>Placeholder</dd>

            <dt>Following</dt>
            <dd>Placeholder</dd>

            <dt>Repositories</dt>
            <dd>Placeholder</dd>

            <dt>Latest Update</dt>
            <dd>Placeholder</dd>
          </dl>
      </section>
   </aside>
   
</main>






