/* ********* */
/* CSS Reset */
/* ********* */


/* ********************************************************** */
/* The new CSS reset - version 1.8.4 (last updated 14.2.2023) */
/* GitHub page: https://github.com/elad2412/the-new-css-reset */
/* ********************************************************** */

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
   all: unset;
   display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
   cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
   list-style: none;
}

/* For images to not be able to exceed their container */
img {
   max-inline-size: 100%;
   max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
   border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
   -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
   white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
   -webkit-appearance: revert;
   appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
   all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
   color: unset;
}

/* remove default dot (•) sign */
::marker {
   content: initial;
}

/* fix the feature of 'hidden' attribute.
  display:revert; revert to element instead of attribute */
:where([hidden]) {
   display: none;
}

/* revert for bug in Chromium browsers
  - fix for the content editable attribute will work properly.
  - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
   -moz-user-modify: read-write;
   -webkit-user-modify: read-write;
   overflow-wrap: break-word;
   -webkit-line-break: after-white-space;
   -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
   -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
   all: revert;
}




/* ***** */
/* Start */
/* ***** */




/* ***** */
/* Fonts */
/* ***** */


/* ************ */
/* Primary Font */
/* ************ */

@font-face {
   font-family: 'SuisseIntl-Regular';
   src: url('../assets/fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('../assets/fonts/SuisseIntl-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

/* ************** */
/* Secondary Font */
/* ************** */

@font-face {
   font-family: 'SuisseWorks-Regular';
   src: url('../assets/fonts/SuisseWorks-Regular.woff2') format('woff2'),
         url('../assets/fonts/SuisseWorks-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}




/* ***************** */
/* Custom Properties */
/* ***************** */

:root {

   --page-background-color: black;

   --primary-font-family: SuisseIntl-Regular;
   --secondary-font-family: SuisseWorks-Regular;

   --primary-text-color: white;
   --secondary-text-color: black;

   --primary-button-hover-text-color: black;
   --primary-button-hover-background-color: white;

   --XS-spacing: 1rem;
   --S-spacing: 2rem;
   --M-spacing: 4rem;
   --L-spacing: 8rem;
   --XL-spacing: 16rem;
}




/* **** */
/* HTML */
/* **** */

html {
   font-size: 62.5%;
}


/* **** */
/* Body */
/* **** */

body {
   padding: var(--page-margin);

   height: 100dvh;

   background-color: var(--page-background-color);
}




/* ****** */
/* Header */
/* ****** */

header {
   --header-bg-color: transparent;

   position: fixed;
   z-index: 1000; /* Add this line */

   width: 100%;
   height: auto;

   background-color: var(--header-bg-color);
}


header nav {
   display: flex;

   justify-content: space-between;

   width: 100%;
   height: auto;
}


header nav ul {
   --nav-a-spacing-between: var(--XS-spacing);

   display: flex;

   gap: var(--nav-a-spacing-between);
}


header nav ul li a {
   --nav-a-padding: .8rem 2.4rem;
 
   --nav-a-font-family: var(--primary-font-family);
   --nav-a-font-size: 2rem;
   --nav-a-text-color: white;
 
   --nav-a-border: 0.2rem solid var(--nav-a-border-color);
   --nav-a-border-color: white;
   --nav-a-border-radius: 100rem;
 
   padding: var(--nav-a-padding);

   display: inline-block;
 
   font-family: var(--nav-a-font-family);
   font-size: var(--nav-a-font-size);
   color: var(--nav-a-text-color);
 
   border: var(--nav-a-border);
   border-radius: var(--nav-a-border-radius);
 }
 
 header nav ul li a:hover {
   color: var(--primary-button-hover-text-color);
   background-color: var(--primary-button-hover-background-color);
 }






/* **** */
/* Main */
/* **** */


/* ***** */
/* Index */
/* ***** */

#index {
   position: relative;

   display: grid;

   place-content: center;

   width: 100%;
   height: 100%;
}


/* ************* */
/* Index Overlay */
/* ************* */

#index > section:nth-child(1) {
   display: none;
}

#index > section:nth-child(1).active {
   z-index: 95;

   pointer-events: none;

   display: flex;

   position: absolute;

   inset: 0;

   display: flex;

   align-items: flex-end;
}


/* ****************** */
/* Repository Details */
/* ****************** */

#index > section:nth-child(1) article {
   --repo-details-width: auto;
   --repo-details-height: auto;

   display: flex;

   flex-direction: column;

   justify-content: center;

   width: var(--repo-details-width);
   height: var(--repo-details-height);

}

/* ************* */
/* Repository ID */
/* ************* */

#index > section:nth-child(1) article h3 {
   --repo-details-h3-font-family: var(--primary-font-family);
   --repo-details-h3-font-size: 1.6rem;
   --repo-details-h3-text-color: white;

   font-family: var(--repo-details-h3-font-family);
   font-size: var(--repo-details-h3-font-size);

   color: var(--repo-details-h3-text-color);
}

/* **************** */
/* Repository Title */
/* **************** */

#index > section:nth-child(1) article h2 {
   --repo-details-h2-padding-bottom: var(--XS-spacing);

   --repo-details-h2-font-family: var(--secondary-font-family);
   --repo-details-h2-font-size: 8rem;
   --repo-details-h2-text-color: white;

   padding-bottom: var(--repo-details-h2-padding-bottom);

   font-family: var(--repo-details-h2-font-family);
   font-size: var(--repo-details-h2-font-size);

   text-transform: capitalize;

   color: var(--repo-details-h2-text-color);
}

/* ********************** */
/* Repository Description */
/* ********************** */

#index > section:nth-child(1) article p  {
   --repo-details-p-padding-bottom: var(--S-spacing);

   --repo-details-p-font-family: var(--primary-font-family);
   --repo-details-p-font-size: 2rem;
   --repo-details-p-text-color: white;

   padding-bottom: var(--repo-details-p-padding-bottom);

   font-family: var(--repo-details-p-font-family);
   font-size: var(--repo-details-p-font-size);

   color: var(--repo-details-p-text-color);
}

/* ******************************** */
/* Repository Programming Languages */
/* ******************************** */

#index > section:nth-child(1) article ul {
   --repo-details-pills-spacing: 2rem;

   display: flex;

   gap: var(--repo-details-pills-spacing);
}

#index > section:nth-child(1) article ul li {
   --repo-details-li-padding: 1rem 2rem;

   --repo-details-li-font-family: var(--primary-font-family);
   --repo-details-li-font-size: 1rem;
   --repo-details-li-text-color: var(--secondary-text-color);

   --repo-details-li-border-radius: 99rem;
   --repo-details-li-background-color: white;


   padding: var(--repo-details-li-padding);

   font-family: var(--repo-details-li-font-family);
   font-size: var(--repo-details-li-font-size);

   color: var(--repo-details-li-text-color);

   border-radius: var(--repo-details-li-border-radius);

   background-color: vaR(--repo-details-li-background-color);
}




/* *************** */
/* Repository List */
/* *************** */

#index > section:nth-child(2) {
   width: 100%;
   height: 100%;
   
}


/* ********** */
/* Cubes Grid */
/* ********** */

#index > section:nth-child(2) ul {
   --cube-list-spacing-between: 8rem;

   display: flex;

   gap: var(--cube-list-spacing-between);
}


/* ***** */
/* Cubes */
/* ***** */

.cube {
   --size: 16vmin;
   --aspect-ratio: 1;
   
   width: var(--size);
   height: calc(var(--size) * var(--aspect-ratio));
   transform-style: preserve-3d;
   transition: 0.5s ease-out; /* Add a transition to the transform property */

 }
 
 .cube:hover {
   animation: rotating 5s infinite linear;
 }
 
 @keyframes rotating {
   0% {
     transform: rotate3d(1, 1, 0, 0deg) rotateY(0deg);
   }
   100% {
     transform: rotate3d(1, 1, 0, 360deg) rotateY(360deg);
   }
 }

.face {
  --color: transparent;
  --border-color: white;

  width: 100%;
  height: 100%;
  background: var(--color);
  border: 2px solid var(--border-color);
  position: absolute;
  opacity: 0.75;
  transform: translateZ(calc(var(--size) / 2));
}

.face img {
   opacity: 0;
}

.face img.active {
   opacity: 100;

   width: 100%;
   height: 100%;
}

.front {
  transform: translateZ(calc(var(--size) / 2));
}

.back {
  transform: translateZ(calc(-1 * var(--size) / 2)) rotateY(180deg);
}

.left {
  transform: translateX(calc(-1 * var(--size) / 2)) rotateY(-90deg);
}

.right {
  transform: translateX(calc(var(--size) / 2)) rotateY(90deg);
}

.top {
  transform: translateY(calc(-1 * var(--size) / 2)) rotateX(90deg);
}

.bottom {
  transform: translateY(calc(var(--size) / 2)) rotateX(-90deg);
}








/* **** */
/* Info */
/* **** */

#info {
   position: relative;

   display: flex;

   flex-direction: column;

   width: 100%;
   height: 100%;

   background-color: red;
}

/* ************ */
/* Introduction */
/* ************ */

#info > section:nth-child(1) {
   display: flex;

   flex-direction: column;

   width: 100%;
   height: 100%;

   background-color: #cccccc;
}

#info > section:nth-child(1) article h2 {
   --info-h2-font-size: 2rem;

   font-family: var(--secondary-font-family);
   font-size: var(--info-h2-font-size);

   color: var(--primary-text-color);
}

#info aside {
   display: flex;

   width: 100%;
   height: auto;

   background-color: red;
}

#info aside section {
   width: 100%;
   height: 100%;

   color: white;
}




/* ******* */
/* Contact */
/* ******* */

#contact {

}




/* ****** */
/* Footer */
/* ****** */

footer {
   position: absolute;

   bottom: 0;

   display: flex;

   align-items: center;
   justify-content: flex-end;

   width: 100%;
}

footer ul li button {
}