



/* ********* */
/* CSS Reset */
/* ********* */

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
   box-sizing: border-box;
}

/* 2. Remove default margin */
* {
   margin: 0;
}

/* 3. Allow percentage-based heights in the application */
html, body {
   height: 100%;
}

/* 4. Add accessible line-height */
body {
   line-height: 1.5;
}

/* 5. Improve text rendering */
body {
   -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input, button, textarea, select {
   font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
}

/* 9. Create a root stacking context */
#root, #__next {
   isolation: isolate;
}




/* **** */
/* Body */
/* **** */

body {
   height: 100dvh;
}


/* ********* */
/* Temporary */
/* ********* */




/* ****** */
/* Header */
/* ****** */

header {
   --header-bg-color: blue;

   z-index: 99;

   position: fixed;

   width: 100%;

   background-color: var((var(--header-bg-color)));
}

header nav {
   display: flex;

   align-items: center;
   justify-content: space-between;

   width: 100%;

   background-color: red;
}

header nav ul {
   display: flex;

   background-color: blue;
}

/* **** */
/* Main */
/* **** */

main {
   padding: 4rem 0;

   display: flex;

   width: 100%;
   height: 100%;

   background-color: pink;
}



/* ********* */
/* Section 1 */
/* ********* */

main > section:nth-child(1) {
   display: flex;

   flex-direction: column;

   align-items: center;
   justify-content: space-between;

   width: 100%;
   height: 100%;

   background-color: yellow;
}

main > section:nth-child(1) p {
   font-size: 2rem;

   color: red;
}


/* ********* */
/* Section 2 */
/* ********* */

main > section:nth-child(2) {
   z-index: 95;

   position: absolute;

   inset: 0;

   display: grid;

   place-content: center;
}

.cube {
   --size: 20vmin;
   --aspect-ratio: 3 / 1;
   width: var(--size);
   height: calc(var(--size) * var(--aspect-ratio));
   transform-style: preserve-3d;
   transform: rotate3d(0, -1, 0, 20deg);
 }
 
 .face {
   --color: transparent;
   --border-color: black;
   width: 100%;
   height: 100%;
   background: var(--color);
   border: 2px solid black;
   position: absolute;
   opacity: 0.75;
   transform: translateZ(calc(var(--size) / 2));
 }
 
 .front {
   transform: translateZ(calc(var(--size) / 2));
 /*   background-color: yellow; */
 }
 
 .back {
   transform: translateZ(calc(-1 * var(--size) / 2)) rotateY(180deg);
 /*   background-color: green; */
 }
 
 .left {
   transform: translateX(calc(-1 * var(--size) / 2)) rotateY(-90deg);
 }
 
 .right {
   transform: translateX(calc(var(--size) / 2)) rotateY(90deg);
 }
 
 .top {
   --aspect-ratio: 1 / 1;
   height: calc(var(--size) * var(--aspect-ratio));
   transform: translateY(calc(-1 * var(--size) / 2)) rotateX(90deg);
 /*   background-color: blue; */
 }
 
 .bottom {
   --size: 60vmin;
   --aspect-ratio: 1 / 1;
   width: 20vmin;
   height: 20vmin;
   aspect-ratio: 1;
   transform: translateY(calc(var(--size) / 2)) rotateX(-90deg);
 /*   background-color: red; */
 }
 

/* ****** */
/* Footer */
/* ****** */

footer {
   --footer-bg-color: red;

   position: absolute;

   bottom: 0;

   width: 100%;

   background-color: var(--footer-bg-color);
}

footer ul {
   display: flex;

   justify-content: space-between;

   width: 100%;

   background-color: green;
}